<div id="refs" class="references csl-bib-body" role="doc-bibliography">
<div id="ref-wang2019mac" class="csl-entry" role="doc-biblioentry">
<div class="csl-left-margin">[1] </div><div class="csl-right-inline">X.
Wang, A. Tumeo, J. D. Leidel, <strong>J. Li</strong>, and Y. Chen,
<span>“MAC: Memory access coalescer for 3D-stacked memory,”</span> in
<em>Proceedings of the 48th international conference on parallel
processing (<strong>ICPP’19</strong>)</em>, 2019, pp. 1–10. doi: <a
href="https://doi.org/10.1145/3337821.3337867">https://doi.org/10.1145/3337821.3337867</a>.</div>
</div>
<div id="ref-li2019pims" class="csl-entry" role="doc-biblioentry">
<div class="csl-left-margin">[2] </div><div
class="csl-right-inline"><strong>J. Li</strong>, X. Wang, A. Tumeo, B.
Williams, J. D. Leidel, and Y. Chen, <span>“PIMS: A lightweight
processing-in-memory accelerator for stencil computations,”</span> in
<em>Proceedings of the international symposium on memory systems
(<strong>MemSys’19</strong>)</em>, 2019, pp. 41–52. doi: <a
href="https://doi.org/10.1145/3357526.3357550">https://doi.org/10.1145/3357526.3357550</a>.</div>
</div>
<div id="ref-pham2019mtsad" class="csl-entry" role="doc-biblioentry">
<div class="csl-left-margin">[3] </div><div class="csl-right-inline">V.
Pham, N. Nguyen, <strong>J. Li</strong>, J. Hass, Y. Chen, and T. Dang,
<span>“Mtsad: Multivariate time series abnormality detection and
visualization,”</span> in <em>2019 IEEE international conference on big
data (<strong>BigData’19</strong>)</em>, IEEE, 2019, pp. 3267–3276. doi:
<a
href="https://doi.org/10.1109/BigData47090.2019.9006559">https://doi.org/10.1109/BigData47090.2019.9006559</a>.</div>
</div>
<div id="ref-nguyen2020radarviewer" class="csl-entry"
role="doc-biblioentry">
<div class="csl-left-margin">[4] </div><div class="csl-right-inline">N.
Nguyen, J. Hass, Y. Chen, <strong>J. Li</strong>, A. Sill, and T. Dang,
<span>“Radarviewer: Visualizing the dynamics of multivariate
data,”</span> in <em>Practice and experience in advanced research
computing (<strong>PEARC’20</strong>)</em>, 2020, pp. 555–556. doi: <a
href="https://doi.org/10.1145/3311790.3404538">https://doi.org/10.1145/3311790.3404538</a>.</div>
</div>
<div id="ref-li2020monster" class="csl-entry" role="doc-biblioentry">
<div class="csl-left-margin">[5] </div><div
class="csl-right-inline"><strong>J. Li</strong> <em>et al.</em>,
<span>“Monster: An out-of-the-box monitoring tool for high performance
computing systems,”</span> in <em>2020 IEEE international conference on
cluster computing (<strong>CLUSTER’20</strong>)</em>, IEEE, 2020, pp.
119–129. doi: <a
href="https://doi.org/10.1109/CLUSTER49012.2020.00022">https://doi.org/10.1109/CLUSTER49012.2020.00022</a>.</div>
</div>
<div id="ref-wang2021ham" class="csl-entry" role="doc-biblioentry">
<div class="csl-left-margin">[6] </div><div class="csl-right-inline">X.
Wang, A. Tumeo, J. D. Leidel, <strong>J. Li</strong>, and Y. Chen,
<span>“HAM: Hotspot-aware manager for improving communications with
3D-stacked memory,”</span> <em>IEEE Transactions on Computers
(<strong>IEEE Trans Comput</strong>)</em>, vol. 70, no. 6, pp. 833–848,
2021, doi: <a
href="https://doi.org/10.1109/TC.2021.3066982">https://doi.org/10.1109/TC.2021.3066982</a>.</div>
</div>
<div id="ref-dang2021gap" class="csl-entry" role="doc-biblioentry">
<div class="csl-left-margin">[7] </div><div class="csl-right-inline">T.
Dang, N. Nguyen, J. Hass, <strong>J. Li</strong>, Y. Chen, and A. Sill,
<span>“The gap between visualization research and visualization software
in high-performance computing center,”</span> <em>The Gap between
Visualization Research and Visualization Software
(<strong>VisGap’21)</strong>)</em>, 2021, doi: <a
href="https://doi.org/10.2312/visgap.20211089">https://doi.org/10.2312/visgap.20211089</a>.</div>
</div>
<div id="ref-dang2022jobviewer" class="csl-entry"
role="doc-biblioentry">
<div class="csl-left-margin">[8] </div><div class="csl-right-inline">T.
Dang, N. V. Nguyen, <strong>J. Li</strong>, A. Sill, J. Hass, and Y.
Chen, <span>“JobViewer: Graph-based visualization for monitoring
high-performance computing system,”</span> in <em>2022 IEEE/ACM
international conference on big data computing, applications and
technologies (<strong>BDCAT’22</strong>)</em>, IEEE, 2022, pp. 110–119.
doi: <a
href="https://doi.org/10.1109/BDCAT56447.2022.00021">https://doi.org/10.1109/BDCAT56447.2022.00021</a>.</div>
</div>
<div id="ref-li2023analyzing" class="csl-entry" role="doc-biblioentry">
<div class="csl-left-margin">[9] </div><div
class="csl-right-inline"><strong>J. Li</strong>, G. Michelogiannakis, B.
Cook, D. Cooray, and Y. Chen, <span>“Analyzing resource utilization in
an HPC system: A case study of NERSC’s perlmutter,”</span> in
<em>International conference on high performance computing
(<strong>ISC’23</strong>)</em>, Springer, 2023, pp. 297–316. doi: <a
href="https://doi.org/10.1007/978-3-031-32041-5_16">https://doi.org/10.1007/978-3-031-32041-5_16</a>.</div>
</div>
<div id="ref-li2023workload" class="csl-entry" role="doc-biblioentry">
<div class="csl-left-margin">[10] </div><div
class="csl-right-inline"><strong>J. Li</strong>, R. Wang, G. Ali, T.
Dang, A. Sill, and Y. Chen, <span>“Workload failure prediction for data
centers,”</span> in <em>2023 IEEE 16th international conference on cloud
computing (<strong>CLOUD’23</strong>)</em>, 2023, pp. 479–485. doi: <a
href="https://doi.org/10.1109/CLOUD60044.2023.00064">https://doi.org/10.1109/CLOUD60044.2023.00064</a>.</div>
</div>
<div id="ref-caon2023effective" class="csl-entry"
role="doc-biblioentry">
<div class="csl-left-margin">[11] </div><div class="csl-right-inline">C.
E. Caon, <strong>J. Li</strong>, and Y. Chen, <span>“Effective
management of time series data,”</span> in <em>2023 IEEE 16th
international conference on cloud computing
(<strong>CLOUD’23</strong>)</em>, 2023, pp. 408–414. doi: <a
href="https://doi.org/10.1109/CLOUD60044.2023.00055">https://doi.org/10.1109/CLOUD60044.2023.00055</a>.</div>
</div>
</div>
